.page-title {
    clear: both;
    font-family: 'novecento' sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.product-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.product-grid-item {
    border: 1px solid #e1e1e1;
    max-width: 23%;
    margin-bottom: 1.5rem;
  }

.product-image img {
  height: 200px;
  object-fit: cover;

}

.product-info {
  font-family:'merriweather'sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container {
margin-left: auto;
margin-right: auto;
width: 1120px;
}

// Single Products

.single-product{

article{
  display: flex;
}

h2 {
  font-family: 'novecento',sans-serif;
  font-size: 30px;
  font-weight: normal;
}
}

.product-write-up{
  font-family: 'merriweather',sans-serif;
  font-size: 16px;
}
