.product-grid-item .wp-post-image{
    left: 50%;
    max-height: 250px;
    max-width: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-52%);
    transform: translate(-50%,-52%);
    width: auto;
}
